*{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

#divMapa {
    position: absolute;
    top: 0;
    width: 500%;
}

#divMapa  img {
    width: 3000px;
}

#tabela_bancos {
    position: absolute;
}

#divIframe {
    display: none;
    width: 800px;
    height: 700px;
    z-index: 9999999999;
    position: absolute;
    border: 1px solid #666;
    border-radius: 10px;
}

#divIframe iframe {
    border: none;
    width: 800px;
    height: 600px;
}

#bonefrenteIvena, #ladoIvena {
    height: 80px !important;
}